* {
    cursor: default;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    color: var(--light-fg-color);
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
}

#app {
    height: 100%;
    width: 100%;
}

a {
    cursor: pointer;
}
